{% load site_tags %}
{% load humanize %}
<div class="ui-box" id="information-section">
    <div class="ui-box-item ui-box-white">
        <div class="ui-box-item-title ui-box-item ui-box-white">
            <div class="d-flex justify-content-between align-items-center ui-box-item ui-box-white p-2">
                <h4 class="fw-bold pb-5 pt-5">
                    سفارشات :
                </h4>


            </div>

            <div class="responsive-table p-0">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active main-color-one-color" id="nav-home-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                                aria-selected="true">ارسال شده
                        </button>
                        <button class="nav-link main-color-one-color" id="nav-profile-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-profile"
                                type="button" role="tab" aria-controls="nav-profile" aria-selected="false">در حال پردازش
                        </button>
                        <button class="nav-link main-color-one-color" id="nav-contact-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-contact"
                                type="button" role="tab" aria-controls="nav-contact" aria-selected="false">ناموفق
                        </button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
                         tabindex="0">
                        <div class="responsive-table p-0">
                            <table class="table main-table rounded-0">
                                <thead class="text-bg-dark bg-opacity-75 text-center">
                                <tr>
                                    <th>شماره سفارش</th>
                                    <th>مبلغ</th>
                                    <th>تاریخ ثبت</th>
                                    <th>دیدن تیکت</th>

                                </tr>
                                </thead>
                                <tbody class="text-center">
                                {% for order in orders %}
                                    {% if order.status == "Send" %}
                                        <tr>
                                        
                                            <td class="font-14">{{ order.id }}/{{ order.track_id }}</td>
                                            <td class="font-14">{{ order.get_total_cost|intcomma }} تومان</td>
                                            <td class="font-14">{{ order.created.date|convert_to_persian_date }}</td>
                                            <td class="align-middle text-center"><a
                                                    href="{% url 'staff_area:order_details' order_id=order.id %}"
                                                    class="btn main-color-three-bg shadow-none btn-sm">
                                                <i class="bi bi-eye me-1 text-white"></i> نمایش</a>
                                            </td>


                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"
                         tabindex="0">
                        <div class="responsive-table p-0">
                            <table class="table main-table rounded-0">
                                <thead class="text-bg-dark bg-opacity-75 text-center">
                                <tr>
                                 
                                    <th>شماره سفارش</th>
                                    <th>مبلغ</th>
                                    <th>تاریخ ثبت</th>
                                    <th>دیدن تیکت</th>

                                </tr>
                                </thead>
                                <tbody class="text-center">
                                {% for order in orders %}
                                    {% if order.status == "Processing" %}
                                        <tr>
                                     
                                            <td class="font-14">{{ order.id }}/{{ order.track_id }}</td>
                                            <td class="font-14">{{ order.get_total_cost|intcomma }} تومان</td>
                                            <td class="font-14">{{ order.created.date|convert_to_persian_date }}</td>
                                            <td class="align-middle text-center"><a
                                                    href="{% url 'staff_area:order_details' order_id=order.id %}"
                                                    class="btn main-color-three-bg shadow-none btn-sm">
                                                <i class="bi bi-eye me-1 text-white"></i> نمایش</a>
                                            </td>


                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
             
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"
                         tabindex="0">
                        <div class="responsive-table p-0">
                            <table class="table main-table rounded-0">
                                <thead class="text-bg-dark bg-opacity-75 text-center">
                                <tr>
                               
                                    <th>شماره سفارش</th>
                                    <th>مبلغ</th>
                                    <th>تاریخ ثبت</th>
                                    <th>دیدن تیکت</th>

                                </tr>
                                </thead>
                                <tbody class="text-center">
                                {% for order in orders %}
                                    {% if order.status == "Fail" or not order.paid %}
                                        <tr>
                                            
                                            <td class="font-14">{{ order.id }}/{{ order.track_id }}</td>
                                            <td class="font-14">{{ order.get_total_cost|intcomma }} تومان</td>
                                            <td class="font-14">{{ order.created.date|convert_to_persian_date }}</td>
                                            <td class="align-middle text-center"><a
                                                    href="{% url 'staff_area:order_details' order_id=order.id %}"
                                                    class="btn main-color-three-bg shadow-none btn-sm">
                                                <i class="bi bi-eye me-1 text-white"></i> نمایش</a>
                                            </td>


                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if orders.has_previous or orders.has_next %}
        <div class="my-paginate mt-5 p-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination flex-wrap justify-content-center">
                    {% if orders.has_previous %}
                        <li class="page-item p-2">
                            <a class="page-link rounded-3" href="?page={{ orders.previous_page_number }}">قبلی</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled p-2">
                            <a class="page-link rounded-3" href="#">قبلی</a>
                        </li>
                    {% endif %}
                    {% for page_num in orders.paginator.page_range %}
                        {% if page_num == orders.number %}
                            <li class="page-item active"><a class="page-link rounded-3" href="#">{{ page_num }}</a>
                            </li>
                        {% else %}
                            <li class="page-item"><a class="page-link rounded-3"
                                                     href="?page={{ page_num }}">{{ page_num }}</a></li>
                        {% endif %}

                    {% endfor %}
                    {% if orders.has_next %}
                        <li class="page-item p-2">
                            <a class="page-link rounded-3" href="?page={{ orders.next_page_number }}">بعدی</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled p-2">
                            <a class="page-link rounded-3" href="#">بعدی</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}



    <!-- end content -->


    <!-- start footer -->

</div>
