{% extends 'base.html' %}
{% load static %}
{% block title %}
    درباره ما
{% endblock %}

{% block tags %}
    <meta name="description" content="فاپو شاپ با هدف
                                    ارائه محصولات خاص و کاربردی برای خانه و آشپزخانه راه اندازی شده">
    <meta property="og:title" content="درباره ما">
    <meta property="og:description" content="فاپو شاپ با هدف
                                    ارائه محصولات خاص و کاربردی برای خانه و آشپزخانه راه اندازی شده">
    <meta property="og:image" content="{% static 'assets/image/about_image.JPG' %}">
    <meta name="twitter:title" content="درباره ما">
    <meta name="twitter:description" content="فاپو شاپ با هدف
                                    ارائه محصولات خاص و کاربردی برای خانه و آشپزخانه راه اندازی شده">
    <meta name="twitter:image" content="{% static 'assets/image/about_image.JPG' %}">
{% endblock %}

{% block content %}

    <!-- start breadcroumb -->

    <div class="bread-crumb pt-3">
        <div class="container-fluid">
            <div class="content-box">
                <div class="container-fluid">
                    <nav aria-label="breadcrumb" class="my-lg-0 my-2">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="{% url 'pages:index' %}" class="font-14 text-muted">خانه</a>
                            </li>
                            <li class="breadcrumb-item active main-color-one-color font-14" aria-current="page">درباره
                                ما
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- end breadcroumb -->

    <!-- start content -->

    <div class="content">
        <div class="container-fluid">
            <div class="content-box">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="text-start mb-5 title-panel"><span
                                    class="main-color-one-color">قبل از خرید</span> , بیشتر ما رو بشناس
                            </h2>
                        </div>
                        <div class="col-lg-5">
                            <div>
                                <img src="{% static 'assets/image/about_image.JPG' %}" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="mb-4">
                                <h5 class="mb-2 main-color-one-color">به فاپوشاپ خوش اومدید</h5>
                                <p class="text-muted">
                                    فاپو از دو حرف اول اسم ما یعنی فاطمه و پوریا اومده که با این اسم خواستیم نشون بدیم
                                    که در این فروشگاه هم مثل بقیه زندگی همراه و پشتیبان همدیگه هستیم فاپو شاپ با هدف
                                    ارائه محصولات خاص و کاربردی برای خانه و آشپزخانه راه اندازی شده
                                </p>
                            </div>
                            <div class="mb-4">
                                <h5 class="mb-2 main-color-one-color">فاپو شاپ چطور شکل گرفت ؟</h5>
                                <p class="text-muted">
                                    فاپوشاپ ترکیبی از علایق و تخصص های ما دوتاست.من ، پوریا ، به عنوان یه توسعه دهنده وب
                                    ،
                                    مسئول طراحی و مدیریت فضای آنلاین فروشگاه هستم و فاطمه ، که پرستار هم هست با
                                    علاقه ای که به لوازم خانگی خاص و شیک داره مسئول انتخاب
                                    محصولات و عکاسی از اونهاست.ما تمام تلاشمون رو میکنیم که با ایجاد فضای گرم و صمیمی
                                    برای شما محصولات شیک و کاربردی را به خانه‌های شما بیاریم.

                                </p>
                            </div>
                            <div class="mb-4">
                                <h5 class="mb-2 main-color-one-color">گربه های فروشندمون</h5>
                                <p class="text-muted">
                                    ما دو تا گربه داریم که هر دو رو در شرایط بدی که داشتند به خونمون آوردیم و رنگ و بوی
                                    خیلی خوبه به زندگی ما دادند ضمنا اگه صفحه اینستاگرام ما رو دنبال کنید میبینید که چیا
                                    و چوپی گربه های ما اونجا به کار فروشندگی مشغول هستند 😊

                                </p>
                            </div>
                            <div class="mb-4">
                                <h5 class="mb-2 main-color-one-color">چرا فاپوشاپ ؟</h5>
                                <p class="text-muted">
                                    ما در فاپوشاپ متعهد هستیم به ارائه محصولاتی باکیفیت و تلاش می‌کنیم تجربه ای مثبت و
                                    خاطره انگیز برای مشتریان رقم بزنیم.
                                    از بسته بندی محصولات گرفته تا طراحی سایت که همه چیز با وسواس و دقت طراحی شده.
                                    ما همواره تلاش میکنیم نیازها و انتظارات شما را در اولویت قرار دهیم.

                                </p>
                            </div>
                            <div class="mb-4">
                                <h5 class="mb-2 main-color-one-color">چه چیزی ما رو متمایز میکنه؟</h5>
                                <p class="text-muted">
                                    فاپوشاپ فقط یه فروشگاه نیست بلکه اون نمایانگر عشق و اشتیاق ما به ایجاد ارزش برای
                                    مشتری هاست. حضور چیا و چوپی ، داستان های پشت هر محصول، و ارتباط صمیمی با مشتری‌ها از
                                    جمله عواملی هستن که ما رو از دیگران متمایز میکنن

                                </p>
                            </div>
                            <div class="mb-4">
                                <h5 class="mb-2 main-color-one-color">ماموریت ما </h5>
                                <p class="text-muted">
                                    ما در فاپوشاپ تلاش میکنیم که با ارائه محصولات خاص و باکیفیت ، لحظات ساده ی روزمره
                                    شما را به تجربه هایی زیبا و دلپذیر تبدیل کنیم. هدف ما ایجاد ارتباطی پایدار با
                                    مشتریان و فراهم کردن محصولاتیست که بخشی از زندگی شما بشن .

                                    از اعتماد شما به فاپوشاپ سپاسگزاریم و امیدواریم تجربه ای بینظیر و فراموش نشدنی رو
                                    برای شما به رقم بزنیم.

                                </p>
                            </div>
                            <div class="mb-4">
                                <h3 class="mb-2 main-color-one-color">با احترام ،
                                    فاطمه ، پوریا ، چیا و چوپی </h3>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end content -->
{% endblock %}