{% extends 'base.html' %}
{% load static %}
{% block title %}
سیاست حریم خصوصی
{% endblock %}
    {% block tags %}
        <meta name="description" content="سیات حریم خصوصی در فاپوشاپ عرضه کننده انواع ماگ تراول ماگ و لوازم اشپزخانه">
        <meta property="og:title" content="سیاست حریم خصوصی">
        <meta property="og:description" content="سیات حریم خصوصی در فاپوشاپ عرضه کننده انواع ماگ تراول ماگ و لوازم اشپزخانه">
        <meta property="og:image" content="{% static 'assets/image/logo.png' %}">
        <meta name="twitter:title" content="سیاست حریم خصوصی">
        <meta name="twitter:description" content="سیات حریم خصوصی در فاپوشاپ عرضه کننده انواع ماگ تراول ماگ و لوازم اشپزخانه">
        <meta name="twitter:image" content="{% static 'assets/image/logo.png' %}">
    {% endblock %}

{% block content %}




    <div class="bread-crumb pt-3">
        <div class="container-fluid">
            <div class="content-box">
                <div class="container-fluid">
                    <nav aria-label="breadcrumb" class="my-lg-0 my-2">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="{% url 'pages:index' %}" class="font-14 text-muted">خانه</a>
                            </li>
                            <li class="breadcrumb-item active main-color-one-color font-14" aria-current="page">
                                سیاست حریم خصوصی
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- end breadcroumb -->

    <!-- start content -->

    <div class="content">
        <div class="container-fluid">
            <div class="content-box">
                <div class="container-fluid">
                    <div class="container border border-animate">
                        <h5 class="p-5">سیاست حفظ حریم خصوصی</h5>
                    </div>

                    <div class="row p-5">
                        <div class="col-12">
                            <!-- Section 1 -->
                            <section class="mb-4">
                                <h6 class="main-color-one-color pb-3">1. مقدمه و تأکید بر حریم خصوصی</h6>
                                <p>فروشگاه <strong>فاپو شاپ</strong> با تأکید بر احترامی که برای حریم شخصی کاربران قائل
                                    است، برای خرید، ثبت نظر یا استفاده از برخی امکانات وب‌سایت اطلاعاتی را از کاربران
                                    درخواست می‌کند تا بتواند خدماتی امن و مطمئن را به کاربران ارائه دهد.</p>
                            </section>

                            <section class="mb-4">
                                <h6 class="main-color-one-color pb-3">
                                    2. اطلاعات مورد نیاز برای پردازش و ارسال سفارش
                                </h6>
                                <p>
                                    برای پردازش و ارسال سفارش، اطلاعاتی مانند آدرس، شماره تلفن و ایمیل مورد نیاز است.
                                    وارد کردن اطلاعاتی مانند نام و کد ملی برای اشخاص حقیقی یا کد اقتصادی و شناسه ملی
                                    برای خریدهای سازمانی لازم است.
                                </p>
                            </section>
                            <section class="mb-4">
                                <h6 class="main-color-one-color pb-3">
                                    3. استفاده از اطلاعات برای ارسال سفارشات و تحویل
                                </h6>
                                <p>
                                    مشتریان می‌توانند نام، آدرس و تلفن شخص دیگری را برای تحویل گرفتن سفارش وارد کنند و
                                    فروشگاه تنها برای ارسال همان سفارش، از این اطلاعات استفاده خواهد کرد.
                                </p>
                            </section>
                            <section class="mb-4">
                                <h6 class="main-color-one-color pb-3">
                                    4. استفاده از اطلاعات برای ارتباط با مشتریان و بازاریابی
                                </h6>
                                <p>
                                    فروشگاه ممکن است برای ارتباط با مشتریان، بهینه‌سازی محتوای وب‌سایت و تحقیقات
                                    بازاریابی از برخی اطلاعات استفاده کند و برای اطلاع‌رسانی رویدادها و اخبار، خدمات و
                                    سرویس‌های ویژه یا پروموشن‌ها، برای اعضای وب‌سایت ایمیل یا پیامک ارسال نماید.
                                </p>
                            </section>
                            <section class="mb-4">
                                <h6 class="main-color-one-color pb-3">
                                    5. حق ویرایش و استفاده قانونی از نظرات و اطلاعات کاربران
                                </h6>
                                <p>
                                    روشگاه ممکن است نقد و نظرهای ارسالی کاربران را در راستای رعایت قوانین وب‌سایت ویرایش
                                    کند. در صورتی که نظر یا پیام ارسال شده توسط کاربر، مشمول مصادیق محتوای مجرمانه باشد،
                                    فروشگاه می‌تواند از اطلاعات ثبت‌شده برای پیگیری قانونی استفاده کند.
                                </p>
                            </section>
                            <section class="mb-4">
                                <h6 class="main-color-one-color pb-3">
                                    6. حفظ امنیت اطلاعات کاربر
                                </h6>
                                <p>
                                    حفظ و نگهداری رمز عبور و نام کاربری بر عهده کاربران است. کاربران نباید این اطلاعات
                                    را برای شخص دیگری فاش کنند. در صورت واگذاری شماره همراه، باید شماره جدیدی در پروفایل
                                    ثبت شود.
                                </p>
                            </section>
                            <section class="mb-4">
                                <h6 class="main-color-one-color pb-3">
                                    7. محرمانگی اطلاعات شخصی
                                </h6>
                                <p>
                                    روشگاه اطلاعات شخصی کاربران را محرمانه می‌داند و آن را به هیچ شخص یا سازمان دیگری
                                    منتقل نمی‌کند، مگر با حکم مقام قضایی یا اداری صالحه یا طبق قوانین و مقررات رایج
                                    کشور.
                                </p>
                            </section>
                            <section class="mb-4">
                                <h6 class="main-color-one-color pb-3">
                                    8. استفاده از IP و کوکی‌ها
                                </h6>
                                <p>
                                    فروشگاه مانند سایر وب‌سایت‌ها از جمع‌آوری IP و کوکی‌ها استفاده می‌کند، اما تلاش
                                    می‌کند که اطلاعات کاربران را محافظت و از دسترسی‌های غیرقانونی جلوگیری کند.
                                </p>
                            </section>
                            <section class="mb-4">
                                <h6 class="main-color-one-color pb-3">
                                    9. خاتمه و تغییرات در متن حریم خصوصی
                                </h6>
                                <p>
                                    فروشگاه می‌تواند بدون اطلاع قبلی محتوای این متن را تغییر و بروزرسانی کند. تلاش
                                    فروشگاه برای تأمین تجربه خریدی امن، راحت و خوشایند است.
                                </p>
                            </section>
                            <section class="mb-4">
                                <h6 class="main-color-one-color pb-3">
                                    10. تعاریف کلیدی
                                </h6>
                                <ul class="pt-5 pb-5">
                                    <li>
                                        <h6 class="font-14 text-primary pt-3">
                                            تعریف وب‌سایت
                                        </h6>
                                        <p>
                                            “وب‌سایت” به مجموعه صفحات و محتوای آنلاین تحت دامنه
                                            <strong>fapo-shop.ir</strong> اشاره دارد که توسط فروشگاه <strong> فاپو
                                            شاپ </strong>مدیریت و ارائه می‌شود
                                        </p>
                                    </li>
                                    <li>
                                        <h6 class="font-14 text-primary pt-3">
                                            تعریف خرید اینترنتی
                                        </h6>
                                        <p>
                                            “خرید اینترنتی” به فرآیند انتخاب، سفارش و خرید کالا یا خدمات از طریق وب‌سایت
                                            فروشگاه <strong>فاپو شاپ </strong>از راه دور و به وسیله ابزارهای دیجیتالی
                                            اشاره دارد.
                                        </p>
                                    </li>
                                    <li>
                                        <h6 class="font-14 text-primary pt-3">
                                            تعریف کاربر
                                        </h6>
                                        <p>
                                            “کاربر” به هر شخص حقیقی یا حقوقی اشاره دارد که از وب‌سایت فروشگاه <strong>
                                            فاپو شاپ </strong> استفاده می‌کند، خواه برای مشاهده محتوا، خرید کالا یا
                                            خدمات، یا استفاده از سایر امکانات موجود در وب‌سایت.
                                        </p>
                                    </li>
                                    <li>
                                        <h6 class="font-14 text-primary pt-3">
                                            تعریف اطلاعات شخصی
                                        </h6>
                                        <p>
                                            اطلاعات شخصی” به داده‌ها یا اطلاعاتی اشاره دارد که به طور مستقیم یا
                                            غیرمستقیم به شناسایی یک شخص حقیقی منجر می‌شود، مانند نام، آدرس، شماره تلفن،
                                            ایمیل، کد ملی و غیره.
                                        </p>
                                    </li>
                                </ul>
                            </section>
                            <section class="mb-4">
                                <h6 class="main-color-one-color pb-3">
                                    11. اصول و قوانین استفاده از وب‌سایت
                                </h6>
                                <p>
                                    با استفاده از وب‌سایت فروشگاه <strong> فاپو شاپ </strong>، کاربران به طور خودکار با
                                    قوانین و شرایط استفاده از وب‌سایت موافقت می‌کنند. کاربران موظف به رعایت کلیه قوانین
                                    و دستورالعمل‌های اعلام‌شده از سوی فروشگاه هستند. تخطی از این قوانین می‌تواند منجر به
                                    محدودیت دسترسی به وب‌سایت یا برخورد قانونی شود. کاربران باید مسئولیت کامل رفتار خود
                                    در وب‌سایت را بپذیرند و در صورت هرگونه تخلف، ممکن است مسئولیت‌های قانونی بر عهده
                                    آن‌ها باشد.
                                </p>
                            </section>
                            <section class="mb-4">
                                <h6 class="main-color-one-color pb-3">
                                    12. تغییرات در شرایط و ضوابط
                                </h6>
                                <p>
                                    فروشگاه <strong>فاپو شاپ </strong>حق دارد هر زمان که لازم بداند، شرایط و ضوابط
                                    استفاده از وب‌سایت را تغییر دهد. این تغییرات از زمان اعلام رسمی بر روی وب‌سایت
                                    لازم‌الاجرا خواهند بود. کاربران موظف به دنبال کردن و آگاهی از این تغییرات هستند. عدم
                                    آگاهی یا پیگیری این تغییرات توسط کاربران، نمی‌تواند به عنوان دلیلی برای عدم پایبندی
                                    به قوانین جدید مورد استناد قرار گیرد
                                </p>
                            </section>
                            <section class="mb-4">
                                <h6 class="main-color-one-color pb-3">
                                    13. استفاده از حساب‌ها و شماره کارت‌های بانکی برای خریدهای اینترنتی
                                </h6>
                                <p>
                                    برای انجام هرگونه خرید اینترنتی و پرداخت در وب‌سایت فروشگاه <strong> فاپو
                                    شاپ </strong>، کاربران باید از حساب‌ها و شماره کارت‌های بانکی به نام خود استفاده
                                    کنند. استفاده از اطلاعات بانکی شخص دیگری بدون اجازه قانونی می‌تواند منجر به مسائل
                                    حقوقی شود. فروشگاه<strong> فاپو شاپ </strong>هیچ مسئولیتی در قبال استفاده نادرست یا
                                    غیرقانونی از حساب‌ها و شماره کارت‌های بانکی توسط کاربران ندارد.
                                </p>
                            </section>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}