{% extends 'base.html' %}
{% load static %}
{% block title %}
    قوانین و مقررات
{% endblock %}
    {% block tags %}
        <meta name="description" content="قوانین و مقرارات فروشگاه اینترنتی فاپوشاپ عرضه کننده انواع ماگ تراول ماگ و لوازم آشپزخانه">
        <meta property="og:title" content="قوانین و مقررات">
        <meta property="og:description" content="قوانین و مقرارات فروشگاه اینترنتی فاپوشاپ عرضه کننده انواع ماگ تراول ماگ و لوازم آشپزخانه">
        <meta property="og:image" content="{% static 'assets/image/logo.png' %}">
        <meta name="twitter:title" content="قوانین و مقررات">
        <meta name="twitter:description" content="قوانین و مقرارات فروشگاه اینترنتی فاپوشاپ عرضه کننده انواع ماگ تراول ماگ و لوازم آشپزخانه">
        <meta name="twitter:image" content="{% static 'assets/image/logo.png' %}">
    {% endblock %}
{% block content %}




    <div class="bread-crumb pt-3">
        <div class="container-fluid">
            <div class="content-box">
                <div class="container-fluid">
                    <nav aria-label="breadcrumb" class="my-lg-0 my-2">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="{% url 'pages:index' %}" class="font-14 text-muted">خانه</a>
                            </li>
                            <li class="breadcrumb-item active main-color-one-color font-14" aria-current="page">
                                قوانین و مقررات
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- end breadcroumb -->

    <!-- start content -->

    <div class="content">
        <div class="container-fluid">
            <div class="content-box">
                <div class="container-fluid">
                    <div class="container border border-animate">
                        <h5 class="p-5">قوانین و مقررات</h5>
                    </div>

                    <div class="row p-5">
                        <div class="col-12">
                            <!-- Section 1 -->
                            <section class="mb-4">
                                <h6 class="main-color-one-color pb-3">به <strong> "فاپو شاپ" </strong>خوش آمدید؛ تمامی
                                    افرادی که به صورت مستقیم یا غیر مستقیم شامل مهمانان یا افراد ثبت نام کرده که از
                                    محتوای<strong> "فاپو شاپ" </strong>استفاده می‌کنند، باید شرایط زیر را به صورت کامل
                                    بپذیرند. محتوای این صفحه و شرایط و ضوابط استفاده از وب سایت ممکن است در هر زمانی
                                    بدون اطلاع به کاربران تغییر کند. تمامی تغییرات اعمال شده در این صفحه قابل مشاهده
                                    خواهند بود.</h6>

                            </section>

                            <section class="mb-4">
                                <h6 class="main-color-one-color pb-3">
                                    دسترسی به وب سایت </h6>
                                <p>
                                    خدمات و محتوای این وب سایت به جز در مواردی خاص به صورت کامل رایگان بوده و در دسترس
                                    همه عموم قرار دارد. بنابراین درصورت عدم دسترسی به این وب سایت به هر دلیلی یا قطع
                                    خدمات و مسدود شدن محتوای وب سایت، ما هیچ گونه مسئولیتی را قبول نخواهیم کرد. اگرچه
                                    محتوای این وب سایت بسیار قابل اعتماد است، ما ضمانت نمی‌کنیم که این وب سایت و محتوای
                                    آن، بدون اشکال و خطا باشد. بنابراین در استفاده از محتوای آن هیچ گونه مسئولیتی در هیچ
                                    موردی را قبول نخواهیم کرد. تمامی لینک‌های خارجی داده شده تنها برای اطلاع رسانی بوده
                                    و این وب سایت هیچ گونه مسئولیتی را درقبال محتوای آن‌ها ندارد.
                                </p>
                            </section>
                            <section class="mb-4">
                                <h6 class="main-color-one-color pb-3">
                                    مالکیت حقوقی </h6>
                                <p>
                                    تمامی حقوق مادی و معنوی این وب سایت و محتوای آن از جمله حقوق کپی رایت نزد ما محفوظ
                                    است. هیچ یک از محتوای ما کپی برداری از منابع داخلی و فارسی نبوده و اکثر محتوای موجود
                                    به صورت اختصاصی تولید شده اند. به دلیل آن که محتوای موجود به صورت اختصاصی تولید
                                    می‌شوند، کپی برداری از آن با ذکر آدرس وب سایت<strong> "فاپو شاپ" </strong>و همچنین
                                    کسب اجازه از مدیر وب سایت از طریق صفحه <a href="{% url 'pages:contact' %}"><strong>
                                    تماس با ما</strong></a> بلا مانع است. همچنین استفاده غیر
                                    شخصی از محتوای وب سایت نیز درصورت عدم داشتن اجازه کافی، ممنوع است. در غیر این صورت
                                    ما این اجازه را به خود می‌دهیم تا از فرد و وب سایت کپی کننده شکایت کرده و یا وب سایت
                                    خاطی را از لیست نتایج موتورهای جستجوگر معروف از جمله گوگل و بینگ حذف نمائیم
                                </p>
                            </section>
                            <section class="mb-4">
                                <h6 class="main-color-one-color pb-3">
                                    حریم شخصی افراد </h6>
                                <p>
                                    هیچ یک از اطلاعات وارد شده حساس در این وب سایت (از جمله ایمیل‌ها، شماره تلفن و
                                    موبایل‌ها و سایر موارد) منتشر نخواهد شد و به صورت کامل نزد ما محفوظ خواهد ماند. برخی
                                    از اطلاعات پایه‌ای شما مانند آدرس IP توسط سرویس‌های آمارگیری (ازجمله Google
                                    Webmasters و Google Analytics) جمع آوری خواهند شد که فقط و فقط برای افزایش رضایت
                                    کاربران از این وب سایت استفاده قرار خواهند گرفت. اطلاعات غیرحساس مانند نام، نام
                                    خانوادگی ممکن است در قسمت‌های مختلف سایت از جمله قسمت نظرات به صورت عمومی نشان داده
                                    شوند.
                                </p>
                            </section>
                            <section class="mb-4">
                                <h6 class="main-color-one-color pb-3">
                                    شرایط و ضوابط استفاده از فاپو شاپ </h6>
                                <p>
                                    استفاده از <strong> فاپو شاپ </strong> به معنی توافق کامل شما با شرایط و ضوابط ذیل
                                    تلقی می گردد:
                                </p>
                                <ol class="p-3">
                                    <li class="font-18 pt-3">خرید کالا از <strong> فاپو شاپ </strong>بر مبنای قوانین و
                                        آئین نامه های موجود در
                                        تجارت الکترونیک و با رعایت کامل تمام قوانین جمهوری اسلامی ایران صورت می پذیرد
                                    </li>
                                    <li class="font-18 pt-3">
                                        محصولات این سایت براى استفاده شخصی و غیر تجارى مشتریان عرضه شده است و مالکیت
                                        معنوی اطلاعات موجود در آن متعلق به این فروشگاه بوده و هر گونه سوء استفاده از این
                                        اطلاعات پیگرد قانونی دارد. استفاده غیرتجاری از محتویات سایت با ذکر منبع بلامانع
                                        است و اگر مایلید از اطلاعات موجود در سایت جهت مقاصد تجاری استفاده نمایید باید از
                                        طریق پست الکترونیکی <strong>info@fapo-shop.ir</strong> درخواست خود را ارسال
                                        نموده و اجازه نامه
                                        کتبی اخذ نمایید.
                                    </li>
                                    <li class="font-18 pt-3">
                                        کاربران هنگام سفارش کالا ملزم می باشند اطلاعات صحیح کامل را در پایگاه درج کنند.
                                        بدیهی است کاستی یا نادرستی اطلاعات، مانع تکمیل مراحل سفارش خواهد شد.
                                    </li>
                                    <li class="font-18 pt-3">
                                        <strong> فاپو شاپ </strong>هیچ گونه مسئولیتی را در مورد کارکرد ناقص سایت که می
                                        تواند ناشی از عوامل خارج از حوزه مدیریت این سایت باشد (همانند نقص اینترنت، مسائل
                                        مخابراتی، تجهیزات سخت افزاری و غیره) نمی پذیرد.
                                    </li>
                                    <li class="font-18 pt-3">
                                        رتباط فاپو شاپ با کاربران از طریق <strong>fapo-shop.ir</strong> برقرار می گردد و
                                        فقط با استفاده از اطلاعاتی که کاربران در سایت درج کرده اند (همانند نشانی، تلفن و
                                        …) صورت می پذیرد.
                                    </li>
                                    <li class="font-18 pt-3">
                                        فاپو شاپ به هیچ وجه اطلاعات منحصر بفرد کاربران را به اشخاص و طرفین غیر، واگذار
                                        نخواهد کرد و ضمنا با استفاده از آخرین فن آوری ها متعهد است حتی المقدور از حریم
                                        شخصی کاربران دفاع کند.
                                    </li>
                                    <li class="font-18 pt-3">
                                        هدف از ایجاد بخش نظرات در فاپو شاپ، اشتراک گذاری تجربه خرید محصولاتی است که به
                                        فروش می رسد. بخش نظرات فاپو شاپ با دیگر سایت ها و شبکه های اجتماعی متفاوت است.
                                        در این بخش، هر کاربر مجاز است در چهارچوب شرایط و قوانین سایت، نظرات خود را به
                                        اشتراک بگذارد که پس از بررسی و تایید کارشناسان، امکان مشاهده وجود دارد. بدیهی
                                        است که اگر قوانین سایت در نظرات کاربری رعایت نشود، تایید نمی‌شود و در نتیجه در
                                        سایت به نمایش درنمی آید. فاپو شاپ در قبال درستی یا نادرستی نظرات منتشرشده در این
                                        قسمت، هیچگونه مسئولیتی ندارد و نمایش نظرات کاربران در سایت به هیچ وجه به معنی
                                        تایید فنی فاپو شاپ درباره محتویات نظر نیست.
                                    </li>
                                </ol>
                            </section>
                            <section class="mb-4">
                                <h6 class="main-color-one-color pb-3">
                                    شرایط و ضوابط خدمات فروش کالا

                                </h6>
                                <p>
                                    از نظر حقوقی، در معاملات فاپو شاپ، سایت <strong>fapo-shop.ir</strong> به عنوان
                                    فروشنده و کاربر اینترنتی سفارش دهنده به عنوان خریدار تلقی می شوند.
                                </p>
                                <ol class="p-3">
                                    <li class="font-18 pt-3">
                                        فروش کالا بر مبنای نوع و مقداری صورت می گیرد که خریدار آن را در فاپو شاپ درج
                                        نموده است.
                                    </li>
                                    <li class="font-18 pt-3">فروشنده ثبت سفارش کالا و مشخصات ارسال سفارش را به اطلاع
                                        خریدار می رساند.
                                    </li>
                                    <li class="font-18 pt-3"> ارزش کالا یا کالاهای سفارش داده شده طبق فهرست قیمت سایت
                                        محاسبه شده و شامل کلیه مالیات ها و عوارض فروش خواهد بود. تنها مبلغی که در بعضی
                                        از موارد، به ارزش کالا اضافه می شود، هزینه ارسال و بیمه کالا است.
                                    </li>
                                    <li class="font-18 pt-3">در صورتی که فروشنده به دلایلی که خارج از اراده او می باشد،
                                        توان تحویل کالا را در موعد مقرر نداشته باشد و طرفین درباره یک موعد جدید به توافق
                                        نرسند، هریک از طرفین حق دارند بدون هیچگونه هزینه ای سفارش را فسخ نمایند
                                    </li>
                                    <li class="font-18 pt-3">پرداخت وجه کالای خریداری شده فقط از طریق پرداخت از طریق
                                        درگاه اینترنتی امکان پذیر است و انواع دیگر پرداخت اعم از پرداخت در محل یا کارت
                                        به کارت و …. امکان پذیر نمی باشد.
                                    </li>
                                    <li class="font-18 pt-3">در صورت بروز مشکل در پردازش نهایی سبد خرید مانند اتمام
                                        موجودی کالا یا انصراف خریدار، مبلغ پرداخت شده طی 24 الی 48 ساعت کاری به حساب
                                        خریدار واریز خواهد شد.
                                    </li>
                                    <li class="font-18 pt-3">تحویل سفارش در اماکن عمومی همچون کافه، کافی نت، رستوران،
                                        هتل، مترو و مانند آن امکان پذیر نیست و لازم است آدرس تحویل، دقیق و قابل استناد
                                        باشد.
                                    </li>
                                    <li class="font-18 pt-3">لازم به ذکر است افزودن کالا به سبد خرید به معنی رزرو کالا
                                        نیست و هیچ گونه حقی را برای خریدار ایجاد نمی کند. همچنین تا پیش از ثبت نهایی،
                                        هرگونه تغییر از جمله تغییر در موجودی کالا یا قیمت، روی کالای افزوده شده به سبد
                                        خرید اعمال خواهد شد. بنابراین به خریدارانی که تمایل و تصمیم به خرید قطعی دارند،
                                        توصیه می شود در اسرع وقت سفارش خود را نهایی کنند تا با اتمام موجودی یا تغییر
                                        قیمتی کالاها روبرو نشوند. بدیهی است که فروشنده هیچگونه مسئولیتی نسبت به کالاهایی
                                        که در سبد خرید رها شده است، ندارد.
                                    </li>
                                    <li class="font-18 pt-3">زمان ارسال کالا برای تهران و شهرستان ها بین 5 تا 7 روز کاری
                                        و ساعت تحویل 9 الی 17 می باشد.
                                    </li>
                                    <li class="font-18 pt-3">جهت عودت کالا می بایست از طریق تیکت پشتیبانی یا صفحه تماس
                                        با ما اقدام نمایید
                                    </li>


                                </ol>
                            </section>
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}