{% load site_tags %}
{% if user.profile.zip_code %}
    <div id="information-section">
        <div class="ui-box-item-title">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="fw-bold">
                    اطلاعات شخصی
                </h4>
                <button data-bs-toggle="modal" onclick="loadForm()"
                        class="btn btn-sm main-color-one-bg waves-effect waves-light" href="">
                    ویرایش <i class="bi bi-pencil-fill text-white"></i></button>
            </div>
        </div>
        <div class="ui-box-item-desc p-0 table-responsive">
            <table class="table main-table shadow-none main-table-2 ">
                <tbody>
                <tr>
                    <td colspan="2" class="text-start p-3">
                        <h6>نام </h6>
                        {% if  user.profile.first_name %}
                            <p class="mt-2">{{ user.profile.first_name }} </p>
                        {% else %}
                            <p class="mt-2">-</p>
                        {% endif %}
                    </td>
                    <td colspan="2" class="text-start p-3">
                        <h6>نام خانوادگی</h6>
                        {% if user.profile.last_name %}
                            <p class="mt-2">{{ user.profile.last_name }}</p>
                        {% else %}
                            <p class="mt-2">-</p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="text-start p-3">
                        <h6>پست الکترونیک ( ایمیل )</h6>
                        {% if user.profile.email %}
                            <p class="mt-2">{{ user.profile.email|safe }}</p>
                        {% else %}
                            <p class="mt-2">-</p>
                        {% endif %}
                    </td>
                    <td colspan="2" class="text-start p-3">
                        <h6>شماره تلفن همراه</h6>
                        {% if user.phone_number %}
                            <p class="mt-2">{{ user.phone_number|safe }}</p>
                        {% else %}
                            <p class="mt-2">-</p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="text-start p-3">
                        <h6>عضویت</h6>
                        <p class="mt-2"> {{ user.profile.join_date|convert_to_persian_date }}</p>
                    </td>
                    <td colspan="2" class="text-start p-3">
                        <h6>کد پستی</h6>
                        {% if user.profile.zip_code %}
                            <p class="mt-2">{{ user.profile.zip_code }}</p>
                        {% else %}
                            <p class="mt-2">-</p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="text-start p-3">
                        <h6>آدرس: </h6>
                        {% if user.profile.address %}
                            <p class="mt-2 text-break">{{ user.profile.province }}- {{ user.profile.city }}</p>
                            <p>{{ user.profile.address }}</p>
                        {% else %}
                            <p class="mt-2">-</p>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% else %}
    <div class="ui-boxs" id="information-section">
        <div class="ui-box">
            <div class="ui-box-item ui-box-white">
                <div class="ui-box-item-title">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="fw-bold"><i
                                class="fa-solid fa-user-large main-color-one-color"></i>&nbsp;
                            اطلاعات شخصی
                        </h4>
                        <button data-bs-toggle="modal" onclick="loadForm()"
                                class="btn btn-sm main-color-one-bg waves-effect waves-light"
                                href="">تکمیل مشخصات کاربری<i
                                class="bi bi-pencil-fill text-white"></i>
                        </button>
                    </div>
                </div>
                <div class="p-4">
                    <h6> برای بهره مندی از تمام امکانات سایت و تسریع در فرایند خرید
                        لطفا از طریق دکمه تکمیل مشخصات کاربری در بالا اطلاعات خودتون رو
                        وارد کنید
                    </h6>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<script>
    function loadForm() {
        const info = document.getElementById("information-section");
        const formDiv = document.getElementById("address-from");
        info.classList.add("hidden");
        formDiv.classList.remove("hidden");
    }
</script>