{% extends 'base.html' %}
{% load static %}
{% block title %}
خطای 404
{% endblock %}
{% block tags %}
        <meta name="description" content="صفحه مورد نظر شما پیدا نشد">
        <meta property="og:title" content="خطای 404">
        <meta property="og:description" content="صفحه مورد نظر شما پیدا نشد">
        <meta property="og:image" content="{% static 'assets/image/logo.png' %}">
        <meta name="twitter:title" content="خطای 404">
        <meta name="twitter:description" content="صفحه مورد نظر شما پیدا نشد">
        <meta name="twitter:image" content="{% static 'assets/image/logo.png' %}">
    {% endblock %}
{% block extra_links %}
    <style>
        .full-height {
            min-height: 70vh; /* Full viewport height */
        }
    </style>
{% endblock %}
{% block content %}


        <div class="d-flex justify-content-center align-items-center full-height text-center">
            <div class="error">
                <h1 style="font-family: 'Cairo Play', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    'slnt' 0;"> خطای</h1>
                <h2 style="font-family: 'Cairo Play', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    'slnt' 0;">404</h2>
                <p class="p-5" style="font-family: 'Cairo Play', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    'slnt' 0;">
                     صفحه ای که دنبالش بودی پیدا نشد !
                </p>
                <a href="{% url 'pages:index' %}" class="main-color-one-bg btn  rounded-3">صفحه اصلی</a>
            </div>
        </div>

    <!-- Second div -->




{% endblock %}
